{% extends 'AppArena/base.html' %}
{% block content %}
<form class="container_40 container_fsb margin-bottom" method="GET" action="{% url 'choose_judges' comp_slug=competition.slug %}">
    <input type="text" name="last_name" placeholder="Поиск по имене" value="{{ last_name_query }}">
    <button class="btn-submit" type="submit">Искать</button>
</form>
<form method="post">
    {% csrf_token %}
    <div class="container_40 container_fsb margin-bottom">
        <div>
             <h2 >{{ form.judges.label }}</h2 >
             {{ form.judges }}
             <ul class="errorlist">{{ form.judges.errors }}</ul>
        </div>
        <div>
             <h2  >{{ form.existing_judges.label }}</h2>
             {{ form.existing_judges }}
             <ul class="errorlist">{{ form.existing_judges.errors }}</ul>
         </div>
    </div>
    <div class="container_40 container_fsb margin-bottom">
        <button class="btn-submit" type="submit">Сохранить</button>
        {% if request.META.HTTP_REFERER == 'http://127.0.0.1:8000/add_competition/' %}
            <a href="{% url 'create_category' comp_slug=competition.slug %}" class="btn-submit navig">Отмена</a>
        {% else %}
            <a href="{% url 'competition' comp_slug=competition.slug %}" class="btn-submit navig">Обратно</a>
        {% endif %}
    </div>
</form>

{% endblock %}