{% extends 'AppArena/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container_filter">
    <form method="GET" class="container_fsb ">
        <input type="text" name="q" class="margin-bottom" placeholder="Поиск названию">
        <select name="status" class="margin-bottom">
            <option value="" selected>Все статусы</option>
            <option value="pending">В ожидании</option>
            <option value="completed">Завершен</option>
            <option value="ongoing">В процессе</option>
        </select>
        c: <input type="date" name="start_date" class="margin-bottom" placeholder="Начальная дата">
        до: <input type="date" name="end_date" class="margin-bottom" placeholder="Конечная дата">
        <button type="submit" class="btn-submit margin-bottom"  >Поиск</button>
    </form>
</div>

<div class="container_filter" >
    <div class="card-container">
        {% for c in competitions %}
            {% if c.status_competition and c.date_event > today%}
                <div class="card_red card_green">
                    <div class="in_card">
                        {% if c.address|length > 60 %}
                            <p>{{ c.address|slice:":60" }}...</p>
                        {% else %}
                            <p>{{ c.address }}</p>
                        {% endif %}
                        {% if c.name_competition|length > 60 %}
                            <h3>{{ c.name_competition|slice:":60" }}...</h3>
                        {% else %}
                            <h3>{{ c.name_competition }}</h3>
                        {% endif %}
                        {% if c.date_event != c.date_end%}
                            <p>{{ c.date_event }} - {{c.date_end}}</p>
                        {% else %}
                            <p>{{ c.date_event }}</p>
                        {% endif %}
                         <div class="container_in_card">
                            <p style="color: #40A1A7;">В ожидании</p>
                            <a href="{% url 'competition' c.slug %}" class="btn-submit navig" style="margin-left: 0px">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% elif c.status_competition and c.date_event < today and c.date_end < today%}
                <div class="card_red">
                    <div class="in_card">
                        {% if c.address|length > 60 %}
                            <p>{{ c.address|slice:":60" }}...</p>
                        {% else %}
                            <p>{{ c.address }}</p>
                        {% endif %}
                        {% if c.name_competition|length > 60 %}
                            <h3>{{ c.name_competition|slice:":60" }}...</h3>
                        {% else %}
                            <h3>{{ c.name_competition }}</h3>
                        {% endif %}
                        {% if c.date_event != c.date_end%}
                            <p>{{ c.date_event }} - {{c.date_end}}</p>
                        {% else %}
                            <p>{{ c.date_event }}</p>
                        {% endif %}
                        <div class="container_in_card">
                            <p style="color: #696868;">Завершен</p>
                            <a href="{% url 'competition' c.slug %}" class="btn-submit navig" style="margin-left: 0px">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% elif c.status_competition and c|is_ongoing%}
                <div class="card_red card_usually">
                    <div class="in_card">
                        {% if c.address|length > 60 %}
                            <p>{{ c.address|slice:":60" }}...</p>
                        {% else %}
                            <p>{{ c.address }}</p>
                        {% endif %}
                        {% if c.name_competition|length > 60 %}
                            <h3>{{ c.name_competition|slice:":60" }}...</h3>
                        {% else %}
                            <h3>{{ c.name_competition }}</h3>
                        {% endif %}
                        {% if c.date_event != c.date_end%}
                            <p>{{ c.date_event }} - {{c.date_end}}</p>
                        {% else %}
                            <p>{{ c.date_event }}</p>
                        {% endif %}
                        <div class="container_in_card">
                            <p style="color: #696868;">В процессе</p>
                            <a href="{% url 'competition' c.slug %}" class="btn-submit navig" style="margin-left: 0px">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
