{% extends 'AppArena/base.html' %}
{% block content %}
    <div class="container_big">
        <h3 class="margin-bottom" >Категории соревнования:</h3>
        <div class="categories-container margin-bottom">
            {% for category in categories %}
                <a class="btn-submit navig"  href="{% url 'category' comp.slug category.pk %}" >
                    Возраст:
                    {% if category.id_age.age_start|date:"Y" == category.id_age.age_end|date:"Y" %}
                        {{ category.id_age.age_start|date:"Y" }}
                    {% else %}
                        {{ category.id_age.age_start|date:"Y" }} - {{ category.id_age.age_end|date:"Y" }}
                    {% endif %}<br>
                    {% if category.id_weight.weight_end is None %}
                        Вес: {{ category.id_weight.weight_start|floatformat:"0" }} + кг.
                    {% else %}
                        Вес: {{ category.id_weight.weight_start|floatformat:"0" }} - {{ category.id_weight.weight_end|floatformat:"0" }}кг.
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <div class="container_big container_fsb">
            <a href="{% url 'show_competitions' %}" class="btn-submit">К списку соревнований</a>
            {% for c in request.user.groups.all %}
                {% if c.name == "Секретарь" and comp.date_end >= today%}
                    <a href="{% url 'choose_judges' comp.slug %}" class="btn-submit navig "  style="margin-left: 0px">Судьи</a>
                    <a href="{% url 'create_category' comp.slug %}" class="btn-submit navig "  style="margin-left: 0px">Добавить категорию</a>
                {% endif %}
            {% endfor %}
        </div>
         <h3 class="margin-bottom">Общая информация</h3>
        <p class="text_wrap margin-bottom">Адрес: {{ comp.address }}</p>
        <p class="text_wrap margin-bottom" >Дата проведения:
            {% if comp.date_event != comp.date_end%}
                {{ comp.date_event }} - {{comp.date_end}}
            {% else %}
                {{ comp.date_event }}
            {% endif %}
        </p>
        <p class="text_wrap margin-bottom">Организатор: {{ comp.organizer.user.last_name }} {{ comp.organizer.user.first_name|slice:":1" }}.
            {{ comp.organizer.patronymic|slice:":1" }}.</p>
        <p class="text_wrap margin-bottom">Описание: {{ comp.description|linebreaks }} </p>
        <h3 class="margin-bottom" >Список судей</h3>
        <ul class="margin-bottom" style="margin-left: 20px">
            {% for referee in referees %}
                <li>
                    {{ referee.user.last_name }} {{ referee.user.first_name }} {{ referee.patronymic }}
                    {% if referee.category_referee %}
                        - Категория: {{ referee.category_referee }}
                    {% endif %}
                </li>
            {% empty %}
                <p>Нет судей для этого соревнования.</p>
            {% endfor %}
        </ul>
    </div>
    <div class="container_big container_fsb">
            <a href="{% url 'generate_pdf' comp.slug  %}" class="btn-submit">Сформировать документ</a>

        </div>
{% endblock %}
