{% extends 'AppArena/base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container_big2">
            <div class="container">
                <div class="margin-bottom">
                    <p class="name_hint" >{{ form_user.username.label }}</p>
                    {{ form_user.username }}
                    <ul>{{ form_user.username.errors }}</ul>
                </div>
                <div class="margin-bottom">
                    <p class="name_hint" >{{ form_user.password1.label }}</p>
                    {{ form_user.password1 }}
                    <ul >{{ form_user.password1.errors }}</ul>
                </div>
                <div class="margin-bottom">
                    <p class="name_hint" >{{ form_user.password2.label }}</p>
                    {{ form_user.password2 }}
                    <ul>{{ form_user.password2.errors }}</ul>
                </div>
            </div>
            <div class="container">
                <div class="margin-bottom">
                    <p class="name_hint" >{{ form_user.last_name.label }}</p>
                    {{ form_user.last_name }}
                    <ul>{{ form.last_name.errors }} </ul>
                </div>
                <div class="margin-bottom">
                    <p class="name_hint" >{{ form_user.first_name.label }}</p>
                    {{ form_user.first_name }}
                    <ul>{{ form_user.first_name.errors }}</ul>
                </div>
                <div class="margin-bottom">
                    <p class="name_hint" >{{ form_expansion_user.patronymic.label }}</p>
                    {{ form_expansion_user.patronymic }}
                    <ul>{{ form_expansion_user.patronymic.errors }}</ul>
                </div>
            </div>
            {% if 'Участник' in role%}
                <div class="container">
                   <div class="margin-bottom" id="id_weight_participants_div" >
                       <p class="name_hint" >{{ form_expansion_user.weight_participants.label }}</p>
                       {{ form_expansion_user.weight_participants }}
                       <ul>{{ form_expansion_user.weight_participants.errors }}</ul>
                   </div>
                   <div class="margin-bottom" id="id_medical_insurance_participants_div">
                       <p class="name_hint" >{{ form_expansion_user.medical_insurance_participants.label }}</p>
                       {{ form_expansion_user.medical_insurance_participants }}
                       <ul>{{ form_expansion_user.medical_insurance_participants.errors }}</ul>
                   </div>
                </div>
            {% endif %}
        </div>
        <div class="container_big">
            <div class="container">
                 <div class="container_fsb">
                    <button type="submit" class="btn-submit" >Сохранить</button>
                    <a href="{% url 'show_competitions' %}" class="btn-submit navig">На главную</a>
                </div>
                <ul  class="errorlist" >{{ form.not_field_errors }}</ul>
            </div>
        </div>
    </form>

{% endblock %}
