{% extends 'AppArena/base.html' %}
{% load static %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="container">

            <div class="margin-bottom">
                <p class="name_hint" >Логин</p>
                {{ form.username }}
            </div>

            <div class="margin-bottom">
                <p class="name_hint" >{{ form.password.label }}</p>
                {{ form.password }}
            </div>

            <ul class="margin-bottom" >{{ form.non_field_errors }}</ul>

            <div class="container_fsb">
                <button type="submit" class="btn-submit" >Войти</button>
                <a href="{% url 'sign_un' %}" class="btn-submit navig">На регистрацию</a>
            </div>
        </div>
    </form>
{% endblock %}
